*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
    background-color: rgb(33, 33, 126);
    /* background-image: linear-gradient(blue,  rgb(16, 181, 236), blue); */
    height: 100vh;
    width: 100vw;
    
}

#content{
    width: fit-content;
    height: fit-content;
    /* margin: 0 auto; */
    padding: 5%;
    justify-content: center;
    align-items: center;
    background-color: rgb(171, 202, 238);
    /* border-radius: 20%; */
   
}

h1{
    width: 100%;
    height: 20%;
    text-align: center;
    margin: 0 auto;
    color: black;
    padding: 3%;
}

img{
    display: grid;
    margin: 0 auto;
}

button{
    height: 45px;
    width: 150px;
    margin: 0 auto;
    /* color: darkblue; */
    font-size: 1.5rem;
    background-image: linear-gradient(purple, white, purple);
}

button:hover{
    background-image: linear-gradient(gold, white, gold);
    cursor: grab;
}

p{
    visibility: hidden;
}