* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: inline-flex;
  font-family: Arial, Helvetica, sans-serif;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-image: url(colored-balls-1174237\ Kopie.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  color: darkblue;
}

h1{
  text-align: center;
  margin: 0 auto; 
}

h1 + p{
  text-align: center;
  visibility: visible;
}

h1 + button{
  color: red;
  width: 200px;
}

#content {
  background-color: lightyellow;
  width: 80%;
  max-height: 90%;
  border: 5px solid rgb(79, 108, 236);
  border-radius: 10px;
  display: inline-block;
  margin: 2rem auto;
}

#content:hover{
  border: 7px solid rgb(26, 161, 33);
}

h2 {
  width: 80%;
  text-align: center;
  margin: 1% auto 3% auto;
  background-color: rgba(255, 255, 255, 0.571);
  border-radius: 12px;
  padding: 1%;
}

img {
  display: grid;
  margin: 0 auto;
  height: 35vh;
}

button{
  display: block;
  min-height: 2.2rem;
  max-height: 3rem;
  margin: 2% auto;
  font-size: 1.5rem;
  color: darkblue;
  border-radius: 12px;
  width: 200px;
  background-color: lightblue
}

.wrongButton, .correctButton {
  min-width: 300px;
  background-color: orange;
}

button:hover {
  background-color: rgb(81, 207, 81);
  cursor: grab;
}

.wrongButton:hover, .correctButton:hover {
  background-image: linear-gradient(gold, white, gold);
}

p {
  visibility: hidden;
}
