* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: inline-flex;
  font-family: Arial, Helvetica, sans-serif;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background: rgb(242,211,152);
  background: linear-gradient(329deg, rgba(242,211,152,1) 0%, rgba(148, 199, 221,1) 56%);
  color: rgb(1, 32, 155);
}

h1{
  text-align: center;
  margin: 0 auto; 
}

h1 + p{
  text-align: center;
  visibility: visible;
}

h1 + button{
  width: 200px;
}

#content {
  background-color: lightyellow;
  width: 80%;
  max-height: 90%;
  border-radius: 10px;
  display: inline-block;
  margin: 2rem auto;
}

#content:hover{
  border: 2px solid rgb(154, 155, 154); 
}

h2 {
  width: 80%;
  text-align: center;
  margin: 1% auto 3% auto;
  border-radius: 12px;
  padding: 1%;
}

img {
  display: grid;
  margin: 0 auto;
  height: 35vh;
}

button{
  display: block;
  min-height: 2.2rem;
  max-height: 3rem;
  margin: 0.8rem auto;
  font-size: 1.2rem;
  color: darkblue;
  border-radius: 12px;
  width: 200px;
  background-color: rgb(144, 194, 153);
}

.wrongButton, .correctButton {
  min-width: 300px;
}

button:hover {
  font-size: 1.4rem;
  cursor: grab;
}

.wrongButton:hover, .correctButton:hover {
  background-image: linear-gradient(rgb(223,	186,	176), white, rgb(223,	186,	176));
}

p {
  visibility: hidden;
}
